---
---
@use "sass:meta";
@use 'libs/vars';
@use 'libs/functions';
@use 'libs/mixins';
@use 'libs/vendor';
@use 'libs/breakpoints';
@use 'libs/html-grid';
@import 'fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');

/*
	Phantom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints.breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Base.

	@include meta.load-css('base/reset');
	@include meta.load-css('base/page');
	@include meta.load-css('base/typography');

// Component.

	@include meta.load-css('components/row');
	@include meta.load-css('components/section');
	@include meta.load-css('components/icon');
	@include meta.load-css('components/list');
	@include meta.load-css('components/actions');
	@include meta.load-css('components/icons');
	@include meta.load-css('components/form');
	@include meta.load-css('components/box');
	@include meta.load-css('components/image');
	@include meta.load-css('components/table');
	@include meta.load-css('components/button');
	@include meta.load-css('components/tiles');
	@include meta.load-css('components/features');
	@include meta.load-css('components/email-embed');

// Layout.

	@include meta.load-css('layout/header');
	@include meta.load-css('layout/menu');
	@include meta.load-css('layout/main');
	@include meta.load-css('layout/sales');
	@include meta.load-css('layout/footer');
	@include meta.load-css('layout/wrapper');
