---
layout: generic
title: Career Articles and Newsletters
lead_text: "Want a free 20% off my newest book: Land the Job?"
cta_text: Gimme!
cta_url: https://bost.link/a05rzK
pagination:
  enabled: true
  category: career
---
<header>
    <div class="inner">
        <h2>Articles and Newsletters</h2>
    </div>
</header>
<div class="wrapper">
    <div class="inner">
        <section class="features">
            {% for post in paginator.posts %}
            {% include article-snippit.html %}
            {% endfor %}
            {% include pagination-links.html %}
        </section>
    </div>
</div>
