---
layout: default
---
{% include main-banner.html %}

    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a href="/consulting/consulting.html" class="image"><img src="/images/consulting.jpg" alt=""></a>
            <div class="content">
                <h2 class="major">Consulting</h2>
                <p>I've worked with all kinds of companies from Start-ups to the Fortune 100 to improve their results tenfold.</p>
                <a href="/consulting/consulting.html" class="special">Learn More</a>
            </div>
        </div>
    </section>
    <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
            <a href="/careers/careers.html" class="image"><img src="/images/careers.jpg" alt=""></a>
            <div class="content">
                <h2 class="major">Career Coaching</h2>
                <p>Your career deserves as much attention as your code. I coach people to getting the career they want in software development.</p>
                <a href="/careers/index.html" class="special">Learn More</a>
            </div>
        </div>
    </section>
    <section id="three" class="wrapper spotlight style3">
        <div class="inner">
            <a href="/blog" class="image"><img src="/images/articles.jpg" alt=""></a>
            <div class="content">
                <h2 class="major">Articles and Newsletters</h2>
                <p>I write to share my adventures and explore ideas. I share them with you freely.</p>
                <a href="/blog" class="special">Learn More</a>
            </div>
        </div>
    </section>
    <!--
    <section id="four" class="wrapper alt spotlight style4">
        <div class="inner">
            <a href="/materials" class="image" src="images/pic02.jpg" alt=""></a>
            <div class="content">
                <h2 class="major">Books, Podcasts, Videos, and More!</h2>
                <p>howdy</p>
                <a href="/materials" class="special">Learn More</a>
            </div>
        </div>
    </section>
    -->
<!--
            <div class="feature-list">
                <div class="row">
                    <div class="col-6 col-12-medium">
                        <section>
                          <h3>One-on-One</h3>
                          <p>Lets have a chat. Tell me about the problems you and your organization are facing, what you're considering and I'll give
                          my thoughts.</p>
                          <p>Here are some <i>potential</i> things I'd love to talk through with you:</p>
                          <ul>
                              <li>How do I get my boss to consider trying an idea.</li>
                              <li>How might an Agile set up look in my group?</li>
                              <li>What do you think I should know about SAFe, Scrum, Kanban, etc.</li>
                              <li><b>Or any other problem that is wearing on you</b></li>
                          </ul>
                          <br>
                          <p>
                          Price: $100<br />
                          Duration: 1 hour
                          </p>
                          <p class="center">
                          {% include email.html text="Set up a time" id="call-button"  %}
                          </p>
                      </section>
                    </div>
                    <div class="col-6 col-12-medium">
                        <section>
                          <h3>Coaching and Mentoring</h3>
                          <p>Software creates change. Change in your users, and change in your organization. Having a coach or mentor guide you through this can be invaluable. Unfortunately there are no silver bullets.<br/>
                          I'll work closely with your organization in various areas:</p>
                          <ul>
                              <li>Education and workshops with senior leaderships on software as an industry, and the various practices in use.</li>
                              <li>Turning a marginally successful or failed software product around with validated learning</li>
                              <li>Interviewing potential new hires to help with future software</li>
                              <li>Building a high performing software team for the first time</li>
                              <li>Implementing Agile or Lean practices</li>
                          </ul>
                          <br />
                          <p class="center">{% include email.html id="coaching-button" %}</p>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
-->
