---
layout: default
---
<header>
    <div class="inner">
        <h2>Thanks For Joining!</h2>
        <p>I'll be sending you emails to welcome you and sharing all my best content and advice!</p>
    </div>
</header>
<div class="wrapper">
    <div class="inner">
        <h3>You might also enjoy these</h3>
        <section class="features">
            {% for post in site.posts limit: 4 %}
            {% include article-snippit.html %}
            {% endfor %}
        </section>
    </div>
</div>
