<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo">
            <img class="icon fa-gem" src="/images/profile.jpg"></img>
        </div>
        <h2>Ryan Latta</h2>
        <p>Because your career deserves as much attention as your code.</p>
    </div>
</section>
<!--
<div class="title">
    My Mission
</div>
<div class="container">
    <p class="style2">Align, Attempt, and Adapt. <br/> Change the world.</p>
    <p class="style3">I am an agile coach that is interested in organizations that are ready to get to market sooner with better products.</p> 
    <ul class="actions">
        <li>
        <a id="intro-button" class="button large-button" href="mailto:{{site.email}}">I'm interested in help</a>
        </li>
    </ul>
</div>
-->
