<div class="title">
    Contact
</div>
<div class="container">
    <header class="style1">
        <h2>If you've got questions about what's here or my services, please email me.</h2>
        <p class="center">{% include email.html id="contact-button" %}</p>
    </header>
    <section class="feature-list">
        <div class="row">
                <div class="col-6 col-12-medium">
                    <section>
                        <h3 class="icon fa-envelope">EMAIL</h3>
                        <p> <a href="mailto:{{site.email}}">{{site.email}}</a></p>
                    </section>
                </div>
                <div class="col-6 col-12-medium">
                    <section>
                        <h3 class="icon fa-comment">Social</h3>
                        <p>
                        <a href="http://twitter.com/recursivefaults">@recursivefaults</a>
                        </br>
                        <a href="http://www.linkedin.com/in/ryanlatta">linkedin.com/ryanlatta</a>
                        </p>
                    </section>
                </div>
        </div>
    </section>
    <div id="copyright">
        <ul>
            <li> © 2019 Ryan Latta </li>
            <li> Original design by <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

</div>
