
<section id="email-embed" class="box align-center">
    <h2>{{ page.cta_header }}</h2>
    <p>{{ page.cta_text }}</p>
    <form method="post" action="https://sendfox.com/form/1xdkp3/m2947d" class="sendfox-form" id="m2947d" data-async="true" data-recaptcha="true">
        <div class="row gtr-uniform aln-center">
            <div class="col-6 col-12-xsmall">
                <input type="text" placeholder="First Name" name="first_name" required />
            </div>
            <div class="col-6 col-12-xsmall">
                <input type="email" placeholder="Email" name="email" required />
            </div>
            <!-- no botz please -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
            <div class="row">
            <div class="col-12 col-12-xsmall">
                <button type="submit primary fit">Subscribe</button>
            </div>
            </div>
        </div>
    </form>
    <script src="https://sendfox.com/js/form.js"></script>
</section>
