
<section class="row">
<div class="col">
    <h2>Contact</h2>
    <p>
    Want to work with us? Just send us an <a href="mailto:#">email</a>.
    </p>
</div>
<div class="col">
    <h2>Follow us</h2>
    <p>
    We are on <a href="http://twitter.com/rickwaalders">Twitter</a>, <a href="http://dribbble.com/rickwaalders">Dribbble</a> and <a href="http://instagram.com/rickwaalders">Instagram</a>.
    </p>
</div>
</section>


<section class="row">
<div class="col-full">
    <p>
    © 2014 - This is a free website template by <a href="http://www.pixelsbyrick.com">Rick Waalders</a>
    </p>
</div>
</section>
