<section class="intro">
    <h1>Align, Attempt, and Adapt. <br/> Change the world.</h1>
    <p>I am an agile coach that is interested in organizations and teams that are ready to change the world.</p> 
    
    <p>Sometimes it can feel like every day is taking another mindless step down and endless road. Let me show you a new path. One we can run towards together where each step brings us closer to destination that leaves us transformed. That is the journey I'd like to share with you.</p>
    <div class="center">
        <a id="intro-button" class="button large-button" href="mailto:{{site.email}}">I'm interested in help</a>
    </div>
</section>
