
<!-- Menu -->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/consulting/">Consulting Services</a></li>
            <li><a href="/careers">Career Services</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="https://sendfox.com/ryanlatta/feed">Newsletters</a><li>
            <li><a href="/downloads/index.html">Downloads, Products, Videos</a></li>
        </ul>
        <a href="#menu" class="close">Close</a>
    </div>
</nav>

