
<!-- Menu -->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/consulting/consulting.html">Consulting</a></li>
            <li><a href="/careers/careers.html">Careers</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/careers/your10kresume.html">Your $10k Resume</a></li>
            <!-- <li><a href="/books.html">Books</a></li> -->
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>

