
<!-- Menu -->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/consulting/offerings">Consulting Services</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/articles">Blog</a></li>
            <li><a href="https://sendfox.com/ryanlatta/feed">Newsletters</a><li>
            <!-- <li><a href="/books.html">Books</a></li> -->
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>

