---
layout: generic
---
<header>
    <div class="inner">
        <h2>{{page.title}}</h2>
        <a href="https://sendfox.com/ryanlatta/feed" class="button">Previous Insider Circle Newsletters</a>
    </div>
</header>
<div class="wrapper">
    <div class="inner">
        <section class="features">
            {% for post in paginator.posts %}
            {% include article-snippit.html %}
            {% endfor %}
            {% include pagination-links.html %}
        </section>
    </div>
</div>
