<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="is-preload">
      <div id="page-wrapper">

          {% include header.html %}

          {% include menu.html %}
          <section id="wrapper">
              {{content}}
          </section>


          <section id="footer">
              {% include contact.html %}
          </section>
              {% include footer.html %}
      </div>
      <script async data-uid="4408a5aa71" src="https://ryanlatta.ck.page/4408a5aa71/index.js"></script>
    {% include scripts.html %}
  </body>

</html>
