<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="right-sidebar">
      <div id="page-wrapper">

          {% include header.html %}

            <section id="main" class="wrapper style2">
                <div class="title">
                    blog
                </div>
                <div class="container">
                    <div class="row gtr-150">
                        <div class="col-8 col-12-medium imp-medium">
                            <div id="content">
                                {{content}}
                            </div>
                        </div>
                        <div class="col-4 col-12-medium">
                            {% include sidebar.html %}
                        </div>
                    </div>
                </div>
            </section>

          <section id="footer" class="wrapper">
              {% include contact.html %}
          </section>
              {% include footer.html %}
      </div>

    <script id="dsq-count-scr" src="//ryanlatta.disqus.com/count.js" async></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
  </body>

</html>
