---
layout: generic
---
<header>
    <div class="inner">
        <h2>{{page.title}}</h2>
            
            <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
    </div>
</header>
<div class="wrapper">
    <div class="inner">
        <div class="actions">
            {% include sendfox-form.html %}
        </div>

        {{ content }}
    </div>
</div>
