---
layout: generic
---
<header>
    <div class="inner">
        <div class="row gtr-uniform">
            <div class="col-12">
                <span class="image fit">
                    <img src="{{page.cover_image}}">
                </span>
            </div>
        </div>
        <h1>{{page.title}}</h1>
            
            <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
    </div>
</header>
<div class="wrapper">
    <div class="inner">
        {{ content }}
    </div>
</div>
