@use "../libs/breakpoints";
@use "../libs/functions";

#sales {
    color: #212121;
    $gutter: functions.size(gutter) * 2;
    padding: 0 $gutter;
    @include breakpoints.breakpoint('<=small') {
        $gutter: functions.size(gutter) * 0.5;

        padding: 0 $gutter;
    }
}
