
#cta-newsletter {
    text-align:center;
    form {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom:_size(element-margin) * .2;
        p {
            margin-bottom: 0;
        }
    }
}
