@use "../libs/breakpoints";
@use "../libs/functions";

///
/// Phantom by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Wrapper */

	#wrapper {
		> * {
			> .inner {
				$gutter: functions.size(gutter);

				width: 100%;
				max-width: functions.size(inner);
				margin: 0 auto;
				padding: 0 $gutter;

				@include breakpoints.breakpoint('<=small') {
					$gutter: functions.size(gutter) * 0.5;

					padding: 0 $gutter;
				}
			}
		}
	}